.item {
  /*background: #D8D5D2;*/
  line-height: 1.4em;
  float: left;
  padding: 20px;
  width: 33%;
}

.c1 {
  background: #ED81B3;
}

.c1.item .entry-info p {
  color: #ED81B3;
}

.c2 {
  background: #2BB2AC;
}

.c2.item .entry-info p {
  color: #2BB2AC;
}

.c3 {
  background: #B62C6A;
}

.c3.item .entry-info p {
  color: #B62C6A;
}

.c4 {
  background: #FFC354;
}

.c4.item .entry-info p {
  color: #FFC354;
}

.c0 {
  background: #90CE9F;
}

.c5.item .entry-info p {
  color: #90CE9F;
}


.item h4.entry-title {
    font-size: 1.2em;
}

.item h4.entry-title a {
    margin-bottom: 0;
    color: white;
}

.item .entry-info {
  background: white;
  padding: 10px;
}

.item .entry-info p {
  margin-bottom: 0;
  font-weight: bold;
}

.item .entry-info .entry-feed-title {
  float: left;
}

.item .entry-info .entry-date {
  float: right;
}

.item .entry-content {
  padding: 20px;
  margin-bottom: 0;
  background: white;
  color: #111;
  font-weight: bold;
  margin-top: 20px;
}

.top-bar {
  margin-bottom: 0;
}

.row.full {
  margin: 0;
  max-width: none;
}
.new-feed {
  height: 60px;
}
.new-feed input {
  margin: 0;
}
.new-feed input[type=text] {
  width: 90%;
  float: left;
  height: 60px;
  font-size: 1.9em;
}
.new-feed input[type=submit] {
  width: 10%;
  float: left;
  height: 60px;
  font-size: 1.9em;
}

.clear {
  clear: both;
}