body {
  background: black;
}

.index h1 {
  font-size: 10em;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
.index h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.clef-button-wrapper {
  position: relative;
  top: 5px;
}
.item {
  /*background: #D8D5D2;*/
  line-height: 1.4em;
  float: left;
  padding: 20px;
  width: 33%;
}

.c1 {
  background: #ED81B3;
}

.c1.item .entry-info p , .c1 .keyword{
  color: #ED81B3;
}

.c2 {
  background: #2BB2AC;
}

.c2.item .entry-info p, .c2 .keyword{
  color: #2BB2AC;
}

.c3 {
  background: #3898FF;
}

.c3.item .entry-info p, .c3 .keyword{
  color: #3898FF;
}

.c4 {
  background: #FFC354;
}

.c4.item .entry-info p, .c4 .keyword{
  color: #FFC354;
}

.item .delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 7px 3px 7px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.item .delete:hover {
  background: white;
  color: black;
}

.c0 {
  background: #90CE9F;
}

.c0.item .entry-info p, .c0 .keyword{
  color: #90CE9F;
}


.item h4.entry-title {
    font-size: 1.2em;
}

.item h4.entry-title a {
    margin-bottom: 0;
    color: white;
}

.item h4.entry-title:hover {
  color: black;
}

.item h4.entry-title a:hover {
  color: black;
}

.item .entry-info {
  background: white;
  padding: 10px;
  margin: 20px 0;
}

.item .entry-info p {
  margin-bottom: 0;
  font-weight: bold;
}

.item .entry-info .entry-feed-title {
  float: left;
}

.item .entry-info .entry-date {
  float: right;
}

.item .entry-content {
  padding: 20px;
  margin-bottom: 0;
  background: white;
  color: #111;
  margin-top: 20px;
}

.top-bar {
  margin-bottom: 0;
}

.row.full {
  margin: 0;
  max-width: none;
}
.new-feed {
  width: 99%;
  height: 60px;
}
.new-feed input {
  margin: 0;
}
.new-feed input[type=text] {
  width: 90%;
  float: left;
  height: 60px;
  font-size: 1.9em;
}
.new-feed input[type=submit] {
  width: 10%;
  float: left;
  height: 60px;
  font-size: 1.9em;
  border: none;
}

.clear {
  clear: both;
}

.keyword{
  display: inline-block;
  background: rgb(254,254,254);
  padding: 0.2em 0.5em;
  margin-top:0.5em;
  /*color: #AAA;*/
   /* -webkit-border-radius: 5px;
     -khtml-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
            border-radius: 5px;*/
}

.keyword:hover{
  color: #333;
  cursor: pointer;
}
.hoverable_keyword{
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.hoverable_keyword:hover{
  color: #3797fc;
}
