{% extends 'base.html' %}

{% block content %}
<div class="row full">
        <div class="entry-container">
        {% for entry in entries %}
            <div class="item col1 c{{loop.index % 5}}">
                <a class='delete hide_link' href="{{ url_for('log_click', bad=1, entry_id=entry._id) }}">&times;</a>
                <h4 class="entry-title"><a href="{{ url_for('log_click', bad=0, entry_id=entry._id) }}">{{ entry.title }}</a></h4>
                <div class='entry-info'>
                    <p class="entry-feed-title">{{ entry['feed_title']}}</p>
                    <p class="entry-date">{{ entry.published.strftime('%A, %B %d, %I:%M%p') }}</p>
                    <div class="clear"></div>
                </div>
                <p class='entry-content'>{{ entry.description|striptags }}</p>
            </div>
        {% else %}
            <p>You don't have any feeds.</p>
        {% endfor %}
        </div>
</div>
{% endblock %}

{% block bodyscript %}
<script src="/static/js/vendor/jquery.masonry.min.js"></script>
<script>
    $(function(){
        $container = $('.entry-container')
        $container.masonry({
        // options
            itemSelector : '.item',
        });
        // $('.item').click(function(e) {
        //     e.stopPropagation();
        //     var $this = $(this);
        //     var $content = $this.find('.entry-content');
        //     if($content.is(":visible")) {
        //         $content.hide(function() {
        //             $container.masonry({itemSelector: '.item'});
        //         });
        //     } else {
        //         $content.show(function() {
        //             $container.masonry({itemSelector: '.item'});
        //         });
        //     }
        // });
    });
</script>
{% endblock %}

