{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="large-8 columns small-centered">
        <form action="{{ url_for('add_feed') }}" method="POST">
            <fieldset>
                <legend>Add Feed</legend>
                    <label>Feed URL</label>
                    <div class="row">
                        <div class="small-10 columns">
                            <input type="text" placeholder="http://feeds.feedburner.com/TechCrunch/" name="url">
                        </div>
                        <div class="small-2 columns">
                            <input type="submit" class="button prefix" value="Add">
                        </div>
                    </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="large-12 columns small-centered">
        <div class="entry-container">
        {% for entry in entries %}
            <div class="item col1">
                <h4 class="entry-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
                <p class="entry-feed-title">{{ entry['feed_title']}}</p>
                <p class="entry-date">{{ entry.published.strftime('%A, %B %d, %I:%M%p') }}</p>
                <p>{{ entry.description|striptags }}</p>
            </div>
        {% else %}
            <p>You don't have any feeds.</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block bodyscript %}
<script src="/static/js/vendor/jquery.masonry.min.js"></script>
<script>
    $(function(){
      $('.entry-container').masonry({
      // options
            itemSelector : '.item',
        });
    });
</script>
{% endblock %}

